### 2-2 제어 흐름과 함수

조건 if

In [1]:
n = 20
if n%2 == 0:
    print('짝수')

짝수

In [2]:
n = 21
if n%2 == 0:
    print('짝수')

조건 if else

In [3]:
age = 18
if age >= 20:
    print('성인')
else:
    print('미성년자')

미성년자

In [4]:
age = 21
if age>= 20:
    print('성인')
else:
    print('미성년자')

성인

한 줄 조건 구문 if else

In [5]:
age = 18
s = '성인' if age >= 20 else '미성년자'
print(s)

미성년자

In [6]:
age = 20
s = '성인' if age >= 20 else '미성년자'
print(s)

성인

반복된 조건 if elif

In [1]:
point = 92
if (90 <= point):
    print('A')
elif(80 <= point):
    print('B')
elif(70 <= point):
    print('C')
elif(60 <= point):
    print('D')
else:
    print('F')

A

In [2]:
point = 62
if (90 <= point):
    print('A')
elif(80 <= point):
    print('B')
elif(70 <= point):
    print('C')
elif(60 <= point):
    print('D')
else:
    print('F')

D

match 구문

In [3]:
value = "apple"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"
print(result)

사과

In [4]:
value = "banana"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"
print(result)

바나나

In [5]:
value = "mango"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"
    case _:
        result = "None"
print(result)

None

반복

In [6]:
for x in range(1,6):
    print(x)

1
2
3
4
5

In [7]:
num = [10,20,30,40]
for i in num:
    print(i)

10
20
30
40

In [8]:
fruits = list(["apple", 2500, "banana", 500, "mango", 2000])
for x in fruits:
    print(x)

apple
2500
banana
500
mango
2000

반복 while문

In [11]:
i = 1
sum = 0
while i <= 10:
    sum += i
    i += 1

print(sum)

55

함수 구현

In [12]:
def hello():
    print('Hello, Python!')

In [13]:
hello()

Hello, Python!

In [14]:
hello

In [15]:
type(hello)

function

In [16]:
def hi(one):
    print('안녕,', one)

In [17]:
hi('영희')

안녕, 영희

In [18]:
hi

In [19]:
str(hi)

'<function hi at 0x0000022770B69B20>'

In [21]:
def hi(one = '친구들'):
    print('안녕,',one)

In [22]:
hi()

안녕, 친구들

In [23]:
hi('철수')

안녕, 철수

In [25]:
import math as m
def circle_area(r = 1):
    print(m.pi * r**2)

In [26]:
circle_area()

3.141592653589793

In [27]:
circle_area(4.5)

63.61725123519331

In [28]:
print(circle_area(r = 7.2))

162.8601631620949
None

return 구문과 함수 매개변수 지정

In [29]:
import math as m
def circle_area(r = 1):
    return m.pi * r**2

In [30]:
print(circle_area(r = 7.2))

162.8601631620949

In [31]:
def sum_sub(x,y):
    hap = x + y
    cha = x - y
    return hap, cha

In [32]:
sum_sub(10,3)

(13, 7)

In [33]:
sum_sub(x = 10, y = 3)

(13, 7)

lambda 익명 함수

In [34]:
import math as m
(lambda a,b: m.sqrt(a**2 + b**2))(3,4)

5.0