주석과 상수

In [2]:
# 주석(comments)

In [1]:
3.4 #numeric literals

3.4

In [3]:
10, -3 #튜플

(10, -3)

변수와 대입

In [4]:
#variable
a = 3 #assign value to variable a
a

3

In [5]:
m, n = 10, 20
print(m, n)

10 20

In [6]:
m, n = n, m
print(m, n)

20 10

변수 이름 조건

In [ ]:
#var name
age = 19
age

In [7]:
my_age = 20
my_age

20

In [8]:
_height = 172.3
_height

172.3

In [9]:
_26asian = 2026 #첫 _이후에 바로 숫자 사용 가능
_26asian

2026

In [12]:
#잘못된 변수
#26worldcup = 2026 #수가 맨 먼저 위치하면 에러
#my.age = 21 #.은 사용하면 에러

In [13]:
#my credits = 18 #공백 문자 등 다른 문자 사용하면 에러

자료형과 연산자

In [14]:
# int
a = 10
print(a)

10

In [15]:
type(a)

int

In [16]:
#float
x = 2.718
print(x)

2.718

In [17]:
type(x)

float

In [18]:
#자료형(complex)
c = 3 - 4j
print(c)

(3-4j)

In [19]:
type(c)

complex

In [20]:
#문자열(string)
s = "VS code"
print(s)

VS code

In [21]:
type(s)

str

In [22]:
#logical
b = True
print(b)

True

In [23]:
type(b)

bool

파이썬의 날짜 자료형

In [26]:
import datetime as dt
c = dt.datetime.now() #현제 시스템 시간을 반환
print(c.year, c.month, c.day)

2024 9 11

In [28]:
type(c)

datetime.datetime

In [31]:
import datetime as dt
d = dt. datetime(2024,9,10)
print(d, '요일:', d.weekday())

2024-09-10 00:00:00 요일: 1

다양한 연산자

In [33]:
10 + 4.3

14.3

In [34]:
5.4 - 1.2

4.2

In [35]:
5.4 * 1.2

6.48

In [36]:
10 / 4

2.5

In [37]:
10 % 3 #나머지 연산자 integer division

1

In [38]:
10 // 3 #몫 연산자

3

In [39]:
3 ** 3 #지수 연산자

27

In [40]:
2 ** 2.8 #지수 연산자

6.964404506368992

In [41]:
3 * (4-2)

6

In [42]:
(10 - 3) ** 2

49

In [43]:
True & True #&과 && -> and : 모두 True여야 결과가 True

True

In [44]:
True and False

False

In [45]:
True | True #|와 or -> or : 하나만 True면 결과가 True

True

In [46]:
False or False

False

In [47]:
not True

False

내장 함수와 함수 호출 활용

In [48]:
help(print) #print 함수의 도움말을 볼 수 있다

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

함수 호출 활용

In [50]:
year = input('당신이 태어난 년도는?')

In [51]:
print(year)

2005

In [52]:
type(year)

str

In [54]:
#age = 2026 - year #year가 문자열이어서 오류

In [55]:
age = 2026 - int(year)
print('나이', age)

나이 21

In [56]:
year = int(input('당신이 태어난 년도는?'))

In [57]:
print('나이', 2026 - year)

나이 21

In [58]:
min( 10, 20, 1)

1

In [59]:
max(10,100,1)

100

In [60]:
min([10,11,12])

10

In [61]:
max([10,11,12])

12

In [62]:
round(3.1415)

3

In [63]:
round(3.1415, 3)

3.142

내장 모듈 math 활용

In [64]:
import math as m
m.pi, m.e #pi : 원주율 / e : 자연수

(3.141592653589793, 2.718281828459045)

In [67]:
m.sqrt(4) #sqrt(a) : a의 제곱근인 b를 반환

2.0

In [65]:
m.ceil(3.7) #ceil(a) : a 이상의 가장 가까운 정수인 b를 반환

4

In [69]:
m.floor(3.7) #floor(a) : a 이하인 가장 가까운 정수인 b를 반환

3

In [71]:
m.trunc(3.1415) #trunc(a) : 소수점을 모두 버리고 정수를 반환

3

:

패키지 판다스와 시각화 라이브러리 설치